---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Ephemeral from '../components/Ephemeral.astro';
import Flow from '../components/Flow.astro';
import Durability from '../components/Durability.astro';
import WorkedExample from '../components/WorkedExample.astro';
import CodeSnippet from '../components/CodeSnippet.astro';
import Compose from '../components/Compose.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Ephemeral />
    <Flow />
    <Durability />
    <WorkedExample />
    <CodeSnippet />
    <Compose />
  </main>
  <Footer />
</Layout>
